<!doctype html>
<html lang="en">
{{ partial "header.html" . }}
<body itemscope itemtype="http://schema.org/Blog">
{{ partial "banner.html" . }}
    <main class="container" id="maincontent" aria-label="List of latest and recent articles">
        <section class="latest-post" aria-labelledby="sectionlatest">
            <article itemscope itemtype="http://http://schema.org/BlogPosting">
                {{ range first 1 ( where .Site.Pages "Type" "post" ) }}
                <div class="row">
                    <div class="col-lg-7">
                        <figure aria-hidden="true">
                        <img src="{{ .Site.BaseURL }}img/assets/{{ .Params.hiliteimg }}" aria-hidden="true" alt="" class="img-fluid" />
                        </figure>
                    </div>
                    <div class="col-lg-5">
                        <h2 id="sectionlatest">Latest article</h2>
                        <h3 id="{{ .UniqueID }}"><a href="{{ .URL }}" itemprop="url"><span itemprop="headline">{{ .Title }}</span></a></h3>
                        <p class="post-byline" itemprop="author" itemscope itemtype="http://schema.org/Person">By 
                        {{ range $i, $e := .Params.authors }}{{if $i}}, {{end}}<a href='{{ "/authors/" | relLangURL }}{{ . | urlize }}' itemprop="url"><span itemprop="name">{{ (index $.Site.Data.authors $e).name }}</span></a>{{ end }}
                        </p>
                        <time itemprop="datePublished" datetime='{{ .Date.Format "2006-01-02"  }}' class="post-datepublished">{{ .Date.Format "Jan 2, 2006" }}</time>
                        <p>{{ if .Params.shortlede }}
                                {{ .Params.shortlede }}
                            {{ else if .Params.lede }}
                                {{ .Params.lede }}
                            {{ else }}
                                {{ .Summary  }}
                            {{ end }}</p>
                        {{ if .Params.tags }}<p class="post-tags"><strong>Tags:</strong>
                        {{ range $i, $e := .Params.tags }}{{if $i}}, {{end}}
                        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize | lower }}" rel="tag"><span itemprop="keywords">{{$e}}</span></a>{{ end }}
                        </p>{{ end }}
                        <a href='{{ .URL }}' class="read-prompt" aria-labelledby="{{ .UniqueID }}">Read article <i class="fas fa-chevron-circle-right ml-2" aria-hidden="true"></i></a>
                    </div>
                </div>
                {{ end }}
            </article>
        </section>

        <section class="recent-posts" aria-labelledby="sectionrecent">
            <h2 id="sectionrecent">Other recent articles</h2>
            <div class="row mt-4">
                {{ range first 4 ( after 1 ( where .Site.Pages "Type" "post" ) ) }}
                <div class="col-md-6 recent-post">
                    <article itemscope itemtype="http://http://schema.org/BlogPosting">
                        <h3 id="{{ .UniqueID }}"><a href="{{ .URL }}" itemprop="url"><span itemprop="headline">{{ .Title }}</span></a></h3>
                        <p class="post-byline" itemprop="author" itemscope itemtype="http://schema.org/Person">By 
                        {{ range $i, $e := .Params.authors }}{{if $i}}, {{end}}<a href='{{ "/authors/" | relLangURL }}{{ . | urlize }}' itemprop="url"><span itemprop="name">{{ (index $.Site.Data.authors $e).name }}</span></a>{{ end }}
                        </p>
                        <time itemprop="datePublished" datetime='{{ .Date.Format "2006-01-02"  }}' class="post-datepublished">{{ .Date.Format "Jan 2, 2006" }}</time>
                        <p>{{ if .Params.lede }}
                                {{ .Params.lede }}
                            {{ else }}
                                {{ .Summary  }}
                            {{ end }}</p>
                        {{ if .Params.tags }}<p class="post-tags"><strong>Tags:</strong>
                        {{ range $i, $e := .Params.tags }}{{if $i}}, {{end}}
                        <a href="{{ "/tags/" | relLangURL }}{{ . | urlize | lower }}" rel="tag"><span itemprop="keywords">{{$e}}</span></a>{{ end }}
                        </p>{{ end }}
                        <a href='{{ .URL }}' class="read-prompt" aria-labelledby="{{ .UniqueID }}">Read more <i class="fas fa-chevron-circle-right ml-2" aria-hidden="true"></i></a>
                    </article>
                </div>
                {{ end }}
            </div>
        </section>

        <section class="more-posts" aria-label="See all articles">
            <a href="/articles/" class="read-prompt">See all articles <i class="fas fa-chevron-right ml-2" aria-hidden="true"></i></a>
        </section>

    </main>
{{ partial "footer.html" . }}
{{ partial "javascript.html" . }}
</body>
</html>