/* CDC framework image map alternative */

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
}

.cdc-framework-image-print {
    display: none;
}

.cdc-framework-imagemap {
    background-color: #efefef;
    width: 290px;
}

.cdc-framework-image {
    width: 290px;
    height: 321px;
    background: #5e5e5e url('../img/examples/cdc-framework-imgmap.png') no-repeat;
    background-size: contain;
    position: relative;
}

.cdc-framework-content {
    background: url('../img/examples/cdc-imgmap-arrow.png') center -50px no-repeat;
    padding-top: 2rem;
}

.cdc-framework-content .tab-content {
    background-color: #fff;
    width: 290px;
    height: 290px;
    margin: 0;
    padding: 1rem;
    border: 1px solid #ccc;
}

.cdc-framework-image [id^="step-"] a {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}

.cdc-framework-image [id^="step-"] a:focus {
  border: 3px solid rgba(51, 153, 255, 1) !important;
  box-shadow: 0 0 5px 2px rgba(51, 153, 255, 1) !important;
  border-radius: 50%;
}

.cdc-framework-image [id^="standard-"] a {
    display: block;
    text-align: center;
    vertical-align: middle;
    text-align: center;
    vertical-align: middle;
    color: #fff;
}

.cdc-framework-image [id^="standard-"] a:focus {
  outline: 2px solid rgba(51, 153, 255, 1) !important;
  outline-offset: -2px;
  box-shadow: 0 0 5px 2px rgba(51, 153, 255, 1) !important;
  border-radius: 0.25rem;
}

.cdc-framework-image a.active {
    background-color: #fff !important;
    color: #000 !important;
}

.cdc-framework-content h3 {
    font-weight: bold;
}

.cdc-framework-content h3,
.cdc-framework-content p {
    font-size: 1.125rem;
    display: inline;
}

.cdc-items {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.cdc-standards {
    margin: 0;
    padding: 0;
    width: auto;
    list-style: none;
    position: absolute;
    top: 145px;
    left: 115px;
}

li[id^="step-"] {
    position: absolute;
    width: 66px;
    height: 66px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #999;
    text-align: center;
    vertical-align: middle;
    font-size: 0.5rem;
    line-height: 120%;
    display: table;
    overflow: hidden;
    font-weight: 400;
}

li[id^="standard-"] {
    position: absolute;
    width: 92px;
    height: 15px;
    background-color: #999;
    margin: 0;
    border-radius: 0.25rem;
    vertical-align: middle;
    font-size: 0.625rem;
    line-height: 15px;
    overflow: hidden;
    font-weight: 400;
}

.cdc-items #step-1 {
    top: 5px;
    left: 112px;
 }

.cdc-items #step-1 a {
    background-color: #ff8277;
}

.cdc-items #step-2 {
    top: 51px;
    left: 219px;
}

.cdc-items #step-2 a {
    background-color: #ff9400;
}

.cdc-items #step-3 {
    top: 204px;
    left: 219px;
}

.cdc-items #step-3 a {
    background-color: #009152;
}

.cdc-items #step-4 {
    top: 250px;
    left: 112px;
}

.cdc-items #step-4 a {
    background-color: #0195ff;
}

.cdc-items #step-5 {
    top: 204px;
    left: 5px;
}

.cdc-items #step-5 a {
    background-color: #005494;
}

.cdc-items #step-6 {
    top: 51px;
    left: 5px;
}

.cdc-items #step-6 a {
    background-color: #ff66ff;
}

.cdc-items #standard-1 {
    top: 130px;
    left: 98px;
}

.cdc-items #standard-2 {
    top: 153px;
    left: 98px;
}

.cdc-items #standard-3 {
    top: 176px;
    left: 98px;
}

.cdc-items #standard-4 {
    top: 199px;
    left: 98px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    /* CDC framework image map alternative */
    .cdc-framework-imagemap {
        width: 342px;
    }
    .cdc-framework-image {
        width: 342px;
        height: 378px;
    }
    .cdc-framework-content {
        background: url('../img/examples/cdc-imgmap-arrow.png') center -50px no-repeat;
        padding-top: 2rem;
    }
    .cdc-framework-content .tab-content {
        width: 342px;
        height: 250px;
        margin: 0;
    }
    li[id^="step-"] {
        width: 76px;
        height: 76px;
        font-size: 0.625rem;
        font-weight: 500;
    }
    li[id^="standard-"] {
        width: 110px;
        height: 20px;
        font-size: 0.68rem;
        line-height: 20px;
        font-weight: 500;
    }
    .cdc-items #step-1 {
        top: 7px;
        left: 133px;
     }
    .cdc-items #step-2 {
        top: 60px;
        left: 259px;
    }
    .cdc-items #step-3 {
        top: 241px;
        left: 260px;
    }
    .cdc-items #step-4 {
        top: 295px;
        left: 133px;
    }
    .cdc-items #step-5 {
        top: 241px;
        left: 8px;
    }
    .cdc-items #step-6 {
        top: 60px;
        left: 8px;
    }
    .cdc-items #standard-1 {
        top: 152px;
        left: 116px;
    }
    .cdc-items #standard-2 {
        top: 179px;
        left: 116px;
    }
    .cdc-items #standard-3 {
        top: 206px;
        left: 116px;
    }
    .cdc-items #standard-4 {
        top: 233px;
        left: 116px;
    }
}

/* Medium devices (tablets, 768px and up ) */
@media (min-width: 768px) {
    /* CDC framework image map alternative */
    .cdc-framework-imagemap {
        width: 690px;
    }
    .cdc-framework-content {
        background: url('../img/examples/cdc-imgmap-arrow.png') -55px center no-repeat;
        padding-top: 0;
    }
    .cdc-framework-content .tab-content {
        width: 290px;
        height: 336px;
        margin: 1.25rem 0 0 2rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /* CDC framework image map alternative */
    .cdc-framework-imagemap {
        width: 670px;
    }
    .cdc-framework-content .tab-content {
        width: 270px;
        height: 336px;
    }
    .cdc-framework-content {
        background: url('../img/examples/cdc-imgmap-arrow.png') -55px center no-repeat;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* CDC framework image map alternative */
    .cdc-framework-imagemap {
        width: 700px;
    }
    .cdc-framework-content .tab-content {
        width: 300px;
        height: 336px;
    }
}


@media print {
    .cdc-framework-image-print {
        display: block;
    }
    .cdc-framework-imagemap {
        width: auto;
        height: auto;
        overflow: visible;
        display: block;
        background: transparent;
    }
    .cdc-framework-image {
        display: none;
    }
    .cdc-framework-content {
        padding: 0;
        margin: 0;
        background: transparent;
        width: auto;
        height: auto;
        overflow: visible;
    }
    .cdc-framework-content .tab-content {
        background-color: transparent;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        border: 0;
        overflow: visible;
    }
    .cdc-framework-content .tab-content>.tab-pane {
        display: block;
        border: 1px solid #ccc;
        padding: 1rem;
        margin: 1rem 0;
    }
    .cdc-framework-content .tab-pane {
        page-break-inside: avoid;
    }
    .cdc-framework-content .tab-content>#starter {
        display: none;
    }
    .cdc-framework-content .tab-content>.tab-pane h3 {
        display: inline-block !important;
        border: 1rem solid #ccc;
        border-radius: 10px;
        padding: 0.5rem;
        margin: 0 auto 0.5rem 0;
        width: auto;
    }
    .cdc-framework-content .tab-content>.tab-pane p,
    .cdc-framework-content h3 {
        display: block;
        font-size: 1.25rem;
        page-break-inside: avoid;
    }
    .cdc-framework-content .tab-content>.tab-pane p:first-letter {
        text-transform: capitalize;
    }
    .cdc-framework-content .tab-content>#stakeholders h3 {
        border-color: #ff8277;
    }
    .cdc-framework-content .tab-content>#program h3 {
        border-color: #ff9400;
    }
    .cdc-framework-content .tab-content>#evaluation h3 {
        border-color: #009152;
    }
    .cdc-framework-content .tab-content>#evidence h3 {
        border-color: #0195ff;
    }
    .cdc-framework-content .tab-content>#conclusion h3 {
        border-color: #005494;
    }
    .cdc-framework-content .tab-content>#lessons h3 {
        border-color: #ff66ff;
    }
}
