<!doctype html>
<html lang="en">
{{ partial "header.html" . }}
<body itemscope itemtype="http://schema.org/BlogPosting" class="default-list-view">
{{ partial "banner.html" . }}
<main class="container" id="maincontent">
    {{ $authorname := .Title | lower }}
    {{ $authordata := index .Site.Data.authors $authorname }}

    <div class="d-lg-flex flex-row author-info">
        {{ if $authordata.headshot }}
        <div class="author-headshot"><img src="/img/authors/{{ $authordata.headshot }}" aria-hidden="true" alt="Photo of {{ $authordata.firstName }}" /></div>
        {{ end }}
        <div>
            <h1 class="list-view-title author-name">{{ $authordata.name }}</h1>
            {{ if eq $authordata.status "current" }}
            <p class="intro">{{ $authordata.firstName }} is the {{ $authordata.jobTitle }} at the Center for Teaching and Learning. {{ $authordata.bioLine }}</p>
            {{ else }}
            <p class="intro">{{ $authordata.firstName }} was the {{ $authordata.jobTitle }} at the Center for Teaching and Learning.</p>            
            {{ end }}
            <ul class="nav author-network justify-content-center justify-content-lg-start">
                {{ if $authordata.email }}
                <li class="nav-item network-link">
                <a href="mailto:{{ $authordata.email }}" aria-label="Email: {{ $authordata.email }}"><i class="fas fa-envelope" aria-hidden="true"></i></a>
                </li>
                {{ end }}
                {{ if $authordata.jobLink }}
                <li class="nav-item network-link">
                <a href="{{ $authordata.jobLink }}" aria-label="{{ $authordata.firstName }}’s CTL bio"><i class="fas fa-user" aria-hidden="true"></i></a>
                </li>
                {{ end }}
                {{ if $authordata.github }}
                <li class="nav-item network-link">
                <a href="https://github.com/{{- $authordata.github -}}" aria-label="Github: {{ $authordata.github }}"><i class="fab fa-github" aria-hidden="true"></i></a>
                </li>
                {{ end }}
                {{ if $authordata.linkedin }}
                <li class="nav-item network-link">
                <a href="https://linkedin.com/in/{{- $authordata.linkedin -}}" aria-label="Linkedin: {{ $authordata.linkedin }}"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
                </li>
                {{ end }}
                {{ if $authordata.twitter }}
                <li class="nav-item network-link">
                <a href="https://twitter.com/{{- $authordata.twitter -}}" aria-label="Twitter: {{ $authordata.twitter }}"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                </li>
                {{ end }}
                {{ if $authordata.www }}
                <li class="nav-item network-link">
                <a href="{{ $authordata.www }}" aria-label="{{ $authordata.firstName }}’s website"><i class="fas fa-globe-americas" aria-hidden="true"></i></a>
                </li>
                {{ end }}
           </ul>
        </div>
    </div>


    {{ $paginator := .Paginate .Data.Pages }}

    {{ range $paginator.Pages }}
    {{ .Render "summary" }}
    {{ end }}

    <p class="author-postnum"><i class="fas fa-lg fa-cat" aria-hidden="true"></i> Total: {{ len .Data.Pages }} articles</p>
    {{partial "pagination.html" .}}
</main>
{{ partial "footer.html" . }}
{{ partial "javascript.html" . }}
</body>
</html>